.Poster{
    height: 400px;
    width: 250px;
}

#MovieInfo{
    position: absolute;
    margin-left: 20%;
    float: right;
    height: 100%;
    width: 60%;
}

#ReviewButton{
    height: 40px;
    width: 120px;
    text-align: center;
    margin-left: 300px;
    margin-top: 40px;

}