<div id="container" *ngIf="show">
    <div id="details">
        <div class="movie-thumb">
            <img class='Poster' [src]="getUrl(show.poster_path)">
        </div>
        <div id="movie-content">
            <h2>{{show.original_title}}</h2>
            <h3>Plot:</h3>
            <p>{{show.overview}}</p>
            <h3>Release Date:</h3>
            <p>{{show.release_date}}</p>
            <h3>Voting:</h3>
            <p>{{show.vote_average}}</p>
        </div>
    </div>

    <div class="reviews">
        <h2>Reviews for {{show.original_title}}</h2>
        <mat-card class="card" *ngFor="let review of reviews">
            <mat-card-header>
                <mat-card-title>Author: {{review.AuthorName}}</mat-card-title>
                <mat-card-subtitle>Score: {{review.Score}}/10</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>{{review.Content}}</p>
            </mat-card-content>
        </mat-card>
    </div>

    <div id="StartReview">
        <button id="reviewButton" (click)="writeReview()" mat-raised-button color="primary" type="button">Review This!</button>
        <app-review *ngIf="review" [movieID]="show.id" [movieName]="show.original_title"></app-review>
    </div>
</div>