<div id="container">

    <div id="MovieInfo">
        <h2>{{shows.original_title}}</h2>
        <h3>Plot:</h3>
        <p>{{shows.overview}}</p>
        <h3>Release Date:</h3>
        {{shows.release_date}}
        <h3>Voting:</h3>
        {{shows.vote_average}}/10
        <h3>Popularity:</h3>
        {{shows.popularity}}%
      </div>

    <div class = "FilmDiv">
      <!-- put in a href -->
      <img class='Poster' [src]= "getUrl(shows.poster_path)">
    </div>
    
    <div id="StartReview">
        <button id="ReviewButton" class="btn btn-primary" type="button">Review This!</button>
    </div>

<!-- End of containter -->
</div>