<div id="container" *ngIf="show">

    <div class="FilmDiv">
        <!-- put in a href -->
        <img class='Poster' [src]="getUrl(show.poster_path)">
    </div>
    
    <div id="MovieInfo">
        <h2>{{show.original_title}}</h2>
        <h3>Plot:</h3>
        <p>{{show.overview}}</p>
        <h3>Release Date:</h3>
        {{show.release_date}}
        <h3>Voting:</h3>
        <app-star-rating [rating]='show.vote_average'></app-star-rating>
        {{show.vote_average}}
    </div>

    <div id="StartReview">
        <button id="ReviewButton" class="btn btn-primary" type="button" (click)="reviewFilm()">Review This!</button>
        <div *ngIf="showReview==true">
            <app-review [movieID]="show.id" [movieName]="show.original_title"></app-review>
        </div>
    </div>

    <!-- End of containter -->
</div>