<div id="wrapper" class='panel panel-primary'>
  <div class='panel-heading'>

    <a class="btn btn-secondary" id="menuToggle">&#9776;</a>

    Welcome to {{title}}!

    <button class='btn btn-primary'>Films</button>
    <!-- (click) = 'toggleImage()' -->
    <button class='btn btn-primary'>List</button>
    <button class='btn btn-primary'>Reviewers</button>
  </div>


  <div id="Sidebar">
    <ul class="SidebarList">

      <li>
        <a class="button js-button">Popular Films</a>
      </li>
      <li>
        <a class="button js-button" [routerLink]="['/profile']">Profile</a>
      </li>
      <li>
        <a class="button js-button" [routerLink]="['/login']">Sign in</a>
      </li>
      <!-- Need to create an anchor for the create account -->
    </ul>
  </div>

  <div id="MainBody">
      <app-films></app-films>
      <router-outlet></router-outlet>
    </div>
</div>
