<div id="wrapper" class='panel panel-primary'>
  <div class='panel-heading'>

    <app-search-bar></app-search-bar>

    Welcome to {{title}}!
  </div>


  <div id="Sidebar">
    <ul class="SidebarList">

      <li>
        <a class="button js-button" [routerLink]="['/popularFilm']">Popular Films</a>
      </li>
      <li>
        <a class="button js-button" [routerLink]="['/profile']" *ngIf="(afa.user | async)">Profile</a>
      </li>
      <li>
        <a class="button js-button" [routerLink]="['/login']" *ngIf="!(afa.user | async)">Sign in</a>
      </li>
      <li>
        <a class="button js-button" (click)="logout()" [routerLink]="['/popularFilm']" *ngIf="(afa.user | async)">Log out</a>
      </li>
    </ul>
  </div>

  <div id="MainBody">
    <router-outlet></router-outlet>
  </div>
</div>