<div id="wrapper" class='panel panel-primary'>
  <div class='panel-heading'>

    

    Welcome to {{title}}!
  </div>


  <div id="Sidebar">
    <ul class="SidebarList">

      <li>
        <a class="button js-button" [routerLink]= "['/popularFilm']">Popular Films</a>
      </li>
      <li>
        <a class="button js-button" [routerLink]="['/profile']">Profile</a>
      </li>
      <li>
        <a class="button js-button" [routerLink]="['/login']">Sign in</a>
      </li>
      <li>
          <a class="button js-button">Reviewers</a>
      </li>
      <li>
          <a class="button js-button" [routerLink]="['/single']">Single Movie</a>
        </li>
    </ul>
  </div>

  <div id="MainBody">
      <app-search></app-search>
      <router-outlet></router-outlet>
    </div>
</div>
