.List{
    height: 100px;
    width: 80%;
    outline: 2px solid black;
}

#Poster{
    position: absolute;
    margin-top: 20px;
}

#FilmName{
    position: absolute;
    margin-left: 150px;
    margin-top: 20px;
}

#description{
    position: absolute;
    margin-left: 300px;
    margin-top: 20px;
}

#user{
    position: absolute;
    margin-left: 620px;
    margin-top: 20px;
}