#GenreBox{
    height: 120px;
    width: 160px;
    outline: 2px solid black;
}

#ProfilePic{
    height: 100px;
    width: 100px;
}

.ProfileInfo{
    font-size: 12px;
    margin-top: 10px;
}

#Bio{
    position: absolute;
    margin-left: 400px;
    margin-top: 200px;
}



#Pic{
    position: absolute;
    margin-left: 400px;
    margin-bottom: 500px;
}

.FavMovie{
    margin-bottom: 10px;
}
