<div class='container'>
  <h2>Profile</h2>
  <form #form="ngForm">
    <div id='Name' class='ProfileInfo'>
      <label for="inputName">Name: </label>
      <p>{{currentReviewer.Name}}</p>
    </div>

    <div id='Bio' class='ProfileInfo'>
      <label for="inputBio">Bio: </label>
      <p name="inputBio">{{currentReviewer.Bio}}</p>
    </div>

    <div id='FavGenre' class='ProfileInfo'>
      <p>Favourite Genre: </p>
      <div id='GenreBox'>
        <div *ngFor="let genre of currentReviewer.FaveGenres">
          {{genre}}
        </div>
      </div>
    </div>

    <div id='FavMovies' class='ProfileInfo'>
      <p>Favourite Movies: </p>
      <div *ngFor="let movie of currentReviewer.FaveMovies">
        <h3>{{movie}}</h3>
      </div>
    </div>

    <div *ngFor="let review of currentReviewer.Reviews">
      {{review.MovieName}} {{review.AuthorName}} {{review.Content}} {{review.Score}}
    </div>

    <button type="submit" (click)="editProfile()">Edit</button>
  </form>