<div class='container'>
  <h2>Profile</h2>
  <form #form="ngForm">
    <mat-card>
      <mat-card-title>Name:</mat-card-title>
      <mat-card-content>{{currentReviewer.Name}}</mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>Bio:</mat-card-title>
      <mat-card-content>{{currentReviewer.Bio}}</mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>Favourite Genres:</mat-card-title>
      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let genre of currentReviewer.FaveGenres">{{genre}}</mat-list-item>
      </mat-list>
    </mat-card>
    <mat-card>
      <mat-card-title>Favourite Movies:</mat-card-title>
      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let movie of currentReviewer.FaveMovies">{{movie}}</mat-list-item>
      </mat-list>
    </mat-card>
    <mat-card>
      <mat-card-title>Reviews:</mat-card-title>
      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let review of currentReviewer.Reviews">
          <span matLine>{{review.MovieName}}</span>
          <span matLine>{{review.AuthorName}}</span>
          <span matLine>{{review.Content}}</span>
          <span matLine>{{review.Score}}</span>
        </mat-list-item>
      </mat-list>
    </mat-card>

    <button mat-raised-button type="submit" (click)="editProfile()">Edit</button>
  </form>